@model SelectListItemViewModel

<div class="col-xl-4">
    <div class="form-group">
        <label><span class="text-danger"> * </span>Mağaza</label>
        <select class="form-control" asp-items="Model.SelectListShop" name="ShopId">
            <option value=""></option>
        </select>
    </div>
</div>


